<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Actual CSS</title>
  <link rel="stylesheet" href="{{cssPath}}/actual.css">
  <link rel="stylesheet" href="{{cssPath}}/themes/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
</head>

<body>
  <h1>Actual CSS</h1>
  <h2>Demo</h2>
  <ul>
    {{links}}
  </ul>
</body>

</html>
