:where(.actions, .nav-list) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(.actions, .nav-list) > li {
  margin: 0;
}

.actions,
.nav-list {
  --gap: var(--space-2);
}

.nav-list a,
.actions a {
  text-decoration: none;
}
